@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .one {
        margin-top: 32px
    }
    .ui-datepicker{
        z-index:9999 !important;
    }
</style>

<h1 class="mt-3 mb-3">Kế hoạch vận tải container xuất khẩu</h1>
<div class="form-group">

    <div class="form-group row">
        <div class="col-sm-6">
            <label>Từ ngày</label>
            <div class="input-group date" id="TuNgay">
                <input class="form-control ngay-vn" id="txtTuNgay" />
            </div>
        </div>
        <div class="col-sm-6">
            <label>Đến ngày</label>
            <div class="input-group date" id="DenNgay">
                <input class="form-control ngay-vn" id="txtDenNgay" />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-success mb-3" style="background: #4e73df" onclick="loadData()">Tìm kiếm</button>
    <button type="button" class="btn btn-default btn-success mb-3" style="background: #4e73df" onclick="exportXLS()">Xuất Excel</button>
    <button type="button" onclick="clearTextBox()" class="btn btn-primary mb-3" data-toggle="modal" data-target="#frmKeHoachVanTaiUpdate" data-backdrop="static" data-keyboard="false"> <i class="fa fa-plus"></i> Thêm mới</button>
</div>



<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tblKeHoachVanTai">
        <thead>
            <tr>
                <th>Số</th>
                <th>Ngày lập</th>
                <th>Khách hàng</th>
                <th>Hãng tàu</th>
                <th>Loại cont</th>
                <th>Số lượng cont</th>
                <th>Số cont</th>
                <th>Khối lượng</th>
                <th>Địa điểm nâng cont</th>
                <th>Địa điểm hạ cont</th>
                <th>Địa điểm giao nhận</th>
                <th>Người tạo</th>
                <th style="">Thao tác</th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>

<div class="modal fade" id="frmKeHoachVanTaiUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">THÊM MỚI KẾ HOẠCH VẬN TẢI CONTAINER XUẤT KHẨU</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="hidden" id="ID" name="ID" class="form-control">
                            <input type="hidden" id="IDDanhMucDonVi" name="IDDanhMucDonVi" class="form-control">
                            <input type="hidden" id="IDDanhMucChungTu" name="IDDanhMucChungTu" class="form-control">
                            <input type="hidden" id="IDDanhMucChungTuTrangThai" name="IDDanhMucChungTuTrangThai" class="form-control">
                            <input type="hidden" id="So" name="So" class="form-control">
                            <input type="hidden" id="LoaiHinh" name="LoaiHinh" value="2">
                            <input type="hidden" id="LoaiHang" name="LoaiHang" value="1">

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label>Ngày kế hoạch</label>
                            <div class="input-group" id="NgayLap">
                                <input class="form-control ngay-vn" type="text" id="txtNgayLap" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Khách hàng</label>
                            <div class="input-group mb-3">
                                <select data-live-search="true" class="form-control selectpicker" name="IDDanhMucKhachHang" id="IDDanhMucKhachHang">
                                    <option value="" selected="selected" disabled>Chọn khách hàng</option>
                                    @foreach (var item in ViewBag.ListKhachHang)
                                    {
                                        <option value=@item.ID>@item.Ten</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Hãng tàu</label>
                            <select data-live-search="true" class="form-control selectpicker" name="IDDanhMucHangTau" id="IDDanhMucHangTau">
                                <option value="" selected="selected">Chọn hãng tàu</option>
                                @foreach (var item in ViewBag.ListHangTau)
                                {
                                    <option value=@item.ID>@item.Ten</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="form-group">
                            <label for="inputGroupSelect01">Loại container</label>
                            <select data-live-search="true" class="form-control selectpicker" name="IDDanhMucLoaiContainer" id="IDDanhMucLoaiContainer">
                                <option value="" selected="selected">Loại container</option>
                                @foreach (var item in ViewBag.listLoaiContainer)
                                {
                                    <option value=@item.ID>@item.Ten</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Số lượng cont</label>
                            <input id="SoLuongContainer" name="SoLuongContainer" type="number" class="form-control">
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Số cont</label>
                            <input id="SoContainer" name="SoContainer" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Khối lượng cont</label>
                            <input id="KhoiLuong" name="KhoiLuong" type="number" class="form-control">
                        </div>
                    </div>



                    <div class="col-8">
                        <div class="form-group">
                            <label for="inputGroupSelect01">Địa điểm nâng cont</label>
                            <select data-live-search="true" class="form-control selectpicker" id="IDDanhMucDiaDiemNangCont" name="IDDanhMucDiaDiemNangCont">
                                <option value="" selected="selected">Chọn địa điểm nâng Cont</option>
                                @foreach (var item in ViewBag.listDiaDiemNangHaCont)
                                {
                                    <option value=@item.ID>@item.Ten</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Ngày nâng cont</label>
                        <div class="input-group" id="NgayNang">
                            <input class="form-control ngay-vn" type="text" id="txtNgayNang" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">

                            <label for="inputGroupSelect01">Địa điểm hạ cont</label>
                            <select data-live-search="true" class="form-control selectpicker" id="IDDanhMucDiaDiemHaCont" name="IDDanhMucDiaDiemHaCont">
                                <option value="" selected="selected">Chọn địa điểm hạ Cont</option>
                                @foreach (var itemHa in ViewBag.listDiaDiemNangHaCont)
                                {
                                    <option value=@itemHa.ID>@itemHa.Ten</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group date" id="NgayHa">
                            <label>Ngày hạ cont</label>
                            <div class="input-group mb-3">
                                <input class="form-control ngay-vn" id="txtNgayHa" />
                            </div>
                        </div>
                    </div>



                    <div class="col-8">
                        <div class="form-group">

                            <label for="inputGroupSelect01">Địa điểm giao nhận</label>
                            <select data-live-search="true" class="form-control selectpicker" name="IDDanhMucDiaDiemGiaoNhan" id="IDDanhMucDiaDiemGiaoNhan">
                                <option value="" selected="selected">Chọn địa điểm giao nhận</option>
                                @foreach (var item in ViewBag.listDiaDiemGiaoNhan)
                                {
                                    <option value=@item.ID>@item.Ten</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group date" id="NgayGiaoNhan">
                            <label>Ngày giao nhận</label>
                            <div class="input-group mb-3">
                                <input class="form-control ngay-vn" id="txtNgayGiaoNhan" />
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Người giao nhận</label>
                            <input id="NguoiGiaoNhan" name="NguoiGiaoNhan" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Điện thoại</label>
                            <input id="SoDienThoaiGiaoNhan" name="SoDienThoaiGiaoNhan" type="tel" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Ghi chú</label>
                            <textarea id="GhiChu" name="GhiChu" type="tel" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAdd" class="btn btn-primary" onclick="Add()">Save changes</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var datePicker = document.querySelectorAll(".ngay-vn");
        for (let i = 0; i < datePicker.length; i++) {
            $('#' + datePicker[i].getAttribute("id")).datepicker({
                dateFormat: 'dd/mm/yy'
            });
            datePicker[i].setAttribute('autocomplete', 'off');
        };

        var cleaveDate = document.querySelectorAll(".ngay-vn");
        for (let i = 0; i < cleaveDate.length; i++) {
            var cleave = new Cleave(cleaveDate[i], {
                date: true,
                delimiter: '/',
                datePattern: ['d', 'm', 'Y']
            });
        };

        var today = new Date();
        var dd = ("0" + (today.getDate())).slice(-2);
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var yyyy = today.getFullYear();
        var strtoday = dd + '/' + mm + '/' + yyyy;


        $("#txtTuNgay").val(strtoday);
        $("#txtDenNgay").val(strtoday);

        loadData();
    });

    function loadData() {

        var data = {
            startDate: $('#txtTuNgay').val(),
            endDate: $('#txtDenNgay').val(),
            LoaiHinh: $('#LoaiHinh').val(),
            LoaiHang: $('#LoaiHang').val()
        };
        //console.log(JSON.stringify(data));
        if ($.fn.dataTable.isDataTable('#tblKeHoachVanTai')) {
            $('#tblKeHoachVanTai').dataTable().fnDestroy();
        }
        $.ajax({
            url: "@Url.Action("List","KeHoachVanTaiContainerXuatKhau")",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",

            success: function (result) {
                var html = '';
                if (result.length > 0) {
                    $.each(result, function (key, item) {
                        html += '<tr class="row-bordered" id="IDKeHoach_' + item.ID + '">';
                        html += '<td id="SoKeHoach_' + item.ID + '"><a href="#" onclick="return getbyID(' + item.ID + ')">' + item.So + '</td>';
                        html += '<td id="NgayLapKeHoach_' + item.ID + '"class="ngaylap">' + item.NgayLap + '</td>';
                        html += '<td id="MaDanhMucKhachHangKeHoach_' + item.ID + '">' + item.MaDanhMucKhachHang + '</td>';
                        html += '<td id="TenDanhMucHangTauKeHoach_' + item.ID + '">' + item.TenDanhMucHangTau + '</td>';
                        html += '<td id="LoaiContainerKeHoach_' + item.ID + '">' + item.MaDanhMucLoaiContainer + '</td>';
                        html += '<td id="SoLuongContainerKeHoach_' + item.ID + '">' + item.SoLuongContainer + '</td>';
                        html += '<td id="SoContainerKeHoach_' + item.ID + '">' + item.SoContainer + '</td>';
                        html += '<td id="KhoiLuongKeHoach_' + item.ID + '">' + item.KhoiLuong + '</td>';
                        html += '<td id="TenDanhMucDiaDiemNangContKeHoach_' + item.ID + '">' + item.TenDanhMucDiaDiemNangCont + '</td>';
                        html += '<td id="TenDanhMucDiaDiemHaContKeHoach_' + item.ID + '">' + item.TenDanhMucDiaDiemHaCont + '</td>';
                        html += '<td id="TenDanhMucDiaDiemGiaoNhanKeHoach_' + item.ID + '">' + item.TenDanhMucDiaDiemGiaoNhan + '</td>';
                        html += '<td id="TenDanhMucNguoiSuDungCreateKeHoach_' + item.ID + '">' + item.TenDanhMucNguoiSuDungCreate + '</td>';
                        html += '<td><a href="#" onclick="return getbyID(' + item.ID + ')"><i class="fa fa-pen fa-1x mr-1"></i></a> | <a href="#" onclick="Delele(' + item.ID + ')"><i class="fa fa-trash  fa-1x ml-1"></i></a></td>';
                        html += '</tr>';

                    });
                }

                $('.tbody').html(html);
                $('#tblKeHoachVanTai').DataTable({
                    "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
                    "iDisplayLength": 25
                });

            },
            error: function (errorMesage) {
                alert(errorMesage.responseText);
            }

        });

    }

    function exportXLS() {

        var data = {
            startDate: $('#txtTuNgay').val(),
            endDate: $('#txtDenNgay').val(),
            LoaiHinh: $('#LoaiHinh').val(),
            LoaiHang: $('#LoaiHang').val()
        };

        window.location = "/KeHoachVanTaiContainerXuatKhau/DownloadExcelDocument/?startDate=" + data.startDate + "&endDate=" + data.endDate + "&LoaiHinh=" + data.LoaiHinh + "&LoaiHang=" + data.LoaiHang;
    }


    function Add() {
        var empObj = {
            NgayLap: $('#txtNgayLap').val(),
            //IDDanhMucSale: $('#IDDanhMucSale').val(),
            IDDanhMucKhachHang: $('#IDDanhMucKhachHang').val(),
            LoaiHinh: $('#LoaiHinh').val(),
            LoaiHang: $('#LoaiHang').val(),
            IDDanhMucHangTau: $('#IDDanhMucHangTau').val(),
            IDDanhMucLoaiContainer: $('#IDDanhMucLoaiContainer').val(),
            SoLuongContainer: $('#SoLuongContainer').val(),
            SoContainer: $('#SoContainer').val(),
            KhoiLuong: $('#KhoiLuong').val(),
            IDDanhMucDiaDiemNangCont: $('#IDDanhMucDiaDiemNangCont').val(),
            NgayNangCont: $('#txtNgayNang').val(),
            IDDanhMucDiaDiemHaCont: $('#IDDanhMucDiaDiemHaCont').val(),
            NgayHaCont: $('#txtNgayHa').val(),
            IDDanhMucDiaDiemGiaoNhan: $('#IDDanhMucDiaDiemGiaoNhan').val(),
            NgayGiaoNhan: $('#txtNgayGiaoNhan').val(),
            NguoiGiaoNhan: $('#NguoiGiaoNhan').val(),
            SoDienThoaiGiaoNhan: $('#SoDienThoaiGiaoNhan').val(),
            GhiChu: $('#GhiChu').val()
        };
        var url = "@Url.Action("Add","KeHoachVanTaiContainerXuatKhau")"
        $.ajax({
        url: url,
            data: JSON.stringify(
                empObj
            ),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Status == '00') {

                    var added = JSON.parse(result.Data);

                    var html = '';
                    html += '<tr id="IDKeHoach_' + added.ID + '">';
                    html += '<td id="SoKeHoach_' + added.ID + '"><a href="#" onclick="return getbyID(' + added.ID + ')">' + added.So + '</td>';
                    html += '<td id="NgayLapKeHoach_' + added.ID + '"class="ngaylap">' + added.NgayLap + '</td>';
                    html += '<td id="MaDanhMucKhachHangKeHoach_' + added.ID + '">' + added.MaDanhMucKhachHang + '</td>';
                    html += '<td id="TenDanhMucHangTauKeHoach_' + added.ID + '">' + added.TenDanhMucHangTau + '</td>';
                    html += '<td id="LoaiContainerKeHoach_' + added.ID + '">' + added.MaDanhMucLoaiContainer + '</td>';
                    html += '<td id="SoLuongContainerKeHoach_' + added.ID + '">' + added.SoLuongContainer + '</td>';
                    html += '<td id="SoContainerKeHoach_' + added.ID + '">' + added.SoContainer + '</td>';
                    html += '<td id="KhoiLuongKeHoach_' + added.ID + '">' + added.KhoiLuong + '</td>';
                    html += '<td id="TenDanhMucDiaDiemNangContKeHoach_' + added.ID + '">' + added.TenDanhMucDiaDiemNangCont + '</td>';
                    html += '<td id="TenDanhMucDiaDiemHaContKeHoach_' + added.ID + '">' + added.TenDanhMucDiaDiemHaCont + '</td>';
                    html += '<td id="TenDanhMucDiaDiemGiaoNhanKeHoach_' + added.ID + '">' + added.TenDanhMucDiaDiemGiaoNhan + '</td>';
                    html += '<td id="TenDanhMucNguoiSuDungCreateKeHoach_' + added.ID + '">' + added.TenDanhMucNguoiSuDungCreate + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + added.ID + ')"><i class="fa fa-pen fa-1x mr-1"></i></a> | <a href="#" onclick="Delele(' + added.ID + ')"><i class="fa fa-trash  fa-1x ml-1"></i></a></td>';
                    html += '</tr>';

                    var dataTable = $('#tblKeHoachVanTai').DataTable();
                    dataTable.row.add($(html)).draw(true);
                    clearTextBox();
                    $('#frmKeHoachVanTaiUpdate').modal('hide');
                }
                else {
                    alert('Lỗi thêm: ' + result.Message);
                }
             },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    }


    function getbyID(EmpID) {

        $.ajax({
            url: "/KeHoachVanTaiContainerXuatKhau/getbyID/" + EmpID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {

                $('#ID').val(result.ID);
                $('#IDDanhMucDonVi').val(result.IDDanhMucDonVi);
                $('#IDDanhMucChungTu').val(result.IDDanhMucChungTu);
                $('#IDDanhMucChungTuTrangThai').val(result.IDDanhMucChungTuTrangThai);
                $('#So').val(result.So);
                $('#txtNgayLap').val(result.NgayLap);
                //$('#IDDanhMucSale').val(result.IDDanhMucSale);
                //$('#IDDanhMucSale').selectpicker('refresh');
                $('#IDDanhMucKhachHang').val(result.IDDanhMucKhachHang);
                $('#IDDanhMucKhachHang').selectpicker('refresh');
                $('#LoaiHinh').val(result.LoaiHinh);
                $('#LoaiHang').val(result.LoaiHang);
                $('#IDDanhMucHangTau').val(result.IDDanhMucHangTau);
                $('#IDDanhMucHangTau').selectpicker('refresh');
                $('#IDDanhMucLoaiContainer').val(result.IDDanhMucLoaiContainer);
                $('#IDDanhMucLoaiContainer').selectpicker('refresh');
                $('#SoLuongContainer').val(result.SoLuongContainer);
                $('#SoContainer').val(result.SoContainer);
                $('#KhoiLuong').val(result.KhoiLuong);
                $('#IDDanhMucDiaDiemNangCont').val(result.IDDanhMucDiaDiemNangCont);
                $('#IDDanhMucDiaDiemNangCont').selectpicker('refresh');
                $("#NgayNangCont").val(result.NgayNangCont);
                $('#IDDanhMucDiaDiemHaCont').val(result.IDDanhMucDiaDiemHaCont);
                $('#IDDanhMucDiaDiemHaCont').selectpicker('refresh');
                $('#NgayHaCont').val(result.NgayHaCont);
                $('#IDDanhMucDiaDiemGiaoNhan').val(result.IDDanhMucDiaDiemGiaoNhan);
                $('#IDDanhMucDiaDiemGiaoNhan').selectpicker('refresh');
                $('#NgayGiaoNhan').val(result.NgayGiaoNhan);
                $('#NguoiGiaoNhan').val(result.NguoiGiaoNhan);
                $('#SoDienThoaiGiaoNhan').val(result.SoDienThoaiGiaoNhan);
                $('#GhiChu').val(result.GhiChu);

                $('#frmKeHoachVanTaiUpdate').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();

                //console.log("Ngày nâng:" + result.NgayNangCont);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }


    function Update() {

        var empObj = {
            ID: $('#ID').val(),
            IDDanhMucDonVi: $('#IDDanhMucDonVi').val(),
            IDDanhMucChungTu: $('#IDDanhMucChungTu').val(),
            IDDanhMucChungTuTrangThai: $('#IDDanhMucChungTuTrangThai').val(),
            So: $('#So').val(),
            NgayLap: $('#txtNgayLap').val(),
            //IDDanhMucSale: $('#IDDanhMucSale').val(),
            IDDanhMucKhachHang: $('#IDDanhMucKhachHang').val(),
            LoaiHinh: $('#LoaiHinh').val(),
            LoaiHang: $('#LoaiHang').val(),
            IDDanhMucHangTau: $('#IDDanhMucHangTau').val(),
            IDDanhMucLoaiContainer: $('#IDDanhMucLoaiContainer').val(),
            SoLuongContainer: $('#SoLuongContainer').val(),
            SoContainer: $('#SoContainer').val(),
            KhoiLuong: $('#KhoiLuong').val(),
            IDDanhMucDiaDiemNangCont: $('#IDDanhMucDiaDiemNangCont').val(),
            NgayNangCont: $('#txtNgayNang').val(),
            IDDanhMucDiaDiemHaCont: $('#IDDanhMucDiaDiemHaCont').val(),
            NgayHaCont: $('#txtNgayHa').val(),
            IDDanhMucDiaDiemGiaoNhan: $('#IDDanhMucDiaDiemGiaoNhan').val(),
            NgayGiaoNhan: $('#txtNgayGiaoNhan').val(),
            NguoiGiaoNhan: $('#NguoiGiaoNhan').val(),
            SoDienThoaiGiaoNhan: $('#SoDienThoaiGiaoNhan').val(),
            GhiChu: $('#GhiChu').val(),
        };
        var url = "@Url.Action("Update","KeHoachVanTaiContainerXuatKhau")"
            $.ajax({
            url: url,
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.Status == '00') {

                        ID: $('#ID').val("");
                        IDDanhMucDonVi: $('#IDDanhMucDonVi').val("");
                        IDDanhMucLoaiDoiTuong: $('#IDDanhMucLoaiDoiTuong').val("");
                        Ma: $('#txtMa').val("");
                        Ten: $('#txtTen').val("");
                        IDDanhMucNguoiSuDungCreate: $('#IDDanhMucNguoiSuDungCreate').val("");
                        IDDanhMucNguoiSuDungEdit: $('#IDDanhMucNguoiSuDungEdit').val("");
                        EditDate: $('#Ngaysua').val("");

                        var updateObj = JSON.parse(result.Data);

                        $('#MaDanhMucKhachHangKeHoach_' + updateObj.ID).html(updateObj.MaDanhMucKhachHang);
                        $('#TenDanhMucHangTauKeHoach_' + updateObj.ID).html(updateObj.TenDanhMucHangTau);
                        $('#LoaiContainerKeHoach_' + updateObj.ID).html(updateObj.MaDanhMucLoaiContainer);
                        $('#SoLuongContainerKeHoach_' + updateObj.ID).html(updateObj.SoLuongContainer);
                        $('#SoContainerKeHoach_' + updateObj.ID).html(updateObj.SoContainer);
                        $('#KhoiLuongKeHoach_' + updateObj.ID).html(updateObj.KhoiLuong);
                        $('#TenDanhMucDiaDiemNangContKeHoach_' + updateObj.ID).html(updateObj.TenDanhMucDiaDiemNangCont);
                        $('#TenDanhMucDiaDiemHaContKeHoach_' + updateObj.ID).html(updateObj.TenDanhMucDiaDiemHaCont);
                        $('#TenDanhMucDiaDiemGiaoNhanKeHoach_' + updateObj.ID).html(updateObj.TenDanhMucDiaDiemGiaoNhan);
                        clearTextBox();
                        $('#frmKeHoachVanTaiUpdate').modal('hide');
                    }
                    else {
                        alert('Lỗi sửa: ' + result.Message);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
        });
    }

    function Delele(ID) {
        var ans = confirm("Bạn chắc chắn muốn xóa bản ghi này?");
        if (ans) {
            $.ajax({
                url: "/KeHoachVanTaiContainerXuatKhau/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    if (result.Status == '00') {
                        var dataTable = $('#tblKeHoachVanTai').DataTable();
                        dataTable.$('#IDKeHoach_' + ID).addClass('selected');
                        dataTable.row('.selected').remove().draw(false);
                    }
                    else {
                        alert('Lỗi xóa: ' + result.Message);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    function clearTextBox() {

        $('#So').val("");
        $('#txtNgayLap').val("");
        //$('#IDDanhMucSale').val("");
        $('#LoaiHinh').val("2");
        $('#LoaiHang').val("1");
        $('#SoLuongContainer').val("");
        $('#SoContainer').val("");
        $('#KhoiLuong').val("");
        $('#NguoiGiaoNhan').val("");
        $('#SoDienThoaiGiaoNhan').val("");
        $('#GhiChu').val("");
        $('#btnAdd').show();
        $('#btnUpdate').hide();
        $("#IDDanhMucHangTau").val('@(ViewBag.IDDanhMucHangTauDefault)');
        $('#IDDanhMucHangTau').selectpicker('refresh');
        $("#IDDanhMucKhachHang").val('@(ViewBag.IDDanhMucHangTauDefault)');
        $('#IDDanhMucKhachHang').selectpicker('refresh');
        @*$("#IDDanhMucSale").val('@(ViewBag.IDDanhMucSale)');
        $('#IDDanhMucSale').selectpicker('refresh');*@
        $("#IDDanhMucDiaDiemNangCont").val('@(ViewBag.IDDanhMucDiaDiemNangHaCont)');
        $('#IDDanhMucDiaDiemNangCont').selectpicker('refresh');
        $("#IDDanhMucDiaDiemHaCont").val('@(ViewBag.IDDanhMucDiaDiemNangHaCont)');
        $('#IDDanhMucDiaDiemHaCont').selectpicker('refresh');
        $("#IDDanhMucDiaDiemGiaoNhan").val('@(ViewBag.IDDanhMucDiaDiemGiaoNhan)');
        $('#IDDanhMucDiaDiemGiaoNhan').selectpicker('refresh');
        $("#IDDanhMucLoaiContainer").val('@(ViewBag.IDDanhMucLoaiContainer)');
        $('#IDDanhMucLoaiContainer').selectpicker('refresh');

        $("#txtNgayNang").val('');
        $("#txtNgayHa").val('');
        $("#txtNgayGiaoNhan").val('');

        var today = new Date();
        var dd = ("0" + (today.getDate())).slice(-2);
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var yyyy = today.getFullYear();
        var strtoday = dd + '/' + mm + '/' + yyyy;

        $("#txtNgayLap").val(strtoday);
    }
</script>
