@model everTrucking_Web.Code.DTO.ctDonHang

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo mới đơn hàng</h2>

@using (Html.BeginForm("Create", "DonHang", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Ngày lập</label>

                @Html.TextBoxFor(model => model.NgayLap, new { @class = "form-control", @type = "date" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Debit Note</label>

                @Html.TextBoxFor(model => model.DebitNote, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>BillBooking</label>

                @Html.TextBoxFor(model => model.BillBooking, new { @class = "form-control" })


            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Nhóm hàng vận chuyển</label>

                @Html.TextBoxFor(model => model.IDDanhMucNhomHangVanChuyen, new { @class = "form-control" })


            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Nhóm hàng hóa</label>

                @Html.TextBoxFor(model => model.IDDanhMucHangHoa, new { @class = "form-control" })


            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Hãng tàu</label>

                @Html.TextBoxFor(model => model.IDDanhMucHangTau, new { @class = "form-control" })


            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Loại hàng</label>

                @Html.TextBoxFor(model => model.LoaiHang, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Số lượng</label>

                @Html.TextBoxFor(model => model.SoLuong, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Khối lượng</label>

                @Html.TextBoxFor(model => model.KhoiLuong, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Thể tích</label>

                @Html.TextBoxFor(model => model.TheTich, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Địa điểm lấy Container</label>

                @Html.TextBoxFor(model => model.IDDanhMucDiaDiemLayContHang, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Ngày đóng hàng</label>

                @Html.TextBoxFor(model => model.NgayDongHang, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Địa điểm trả Container</label>

                @Html.TextBoxFor(model => model.IDDanhMucDiaDiemTraContHang, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Số container</label>

                @Html.TextBoxFor(model => model.SoContainer, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Người giao nhận</label>


                @Html.TextBoxFor(model => model.NguoiGiaoNhan, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Ghi chú</label>

                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
