
<nav class="sb-sidenav  accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link text-white" href="/Home/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt text-white"></i></div>
                Trang chủ
            </a>
            <a class="nav-link collapsed text-white" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <div class="sb-nav-link-icon"><i class="fas fa-receipt text-white"></i></div>
                Đơn hàng
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down text-white"></i></div>
            </a>
            <div class="collapse" id="collapseExample">
                <nav class="sb-sidenav-menu-nested nav">
                    <a id="link" class="nav-link" href="#">Danh sách đơn hàng</a>
                    <a id="donhang" class="nav-link" href="#">Đơn hàng</a>

                </nav>

            </div>


            <a class="nav-link text-white" href="/KeHoachVanTaiTongHop/Index">
                <div class="sb-nav-link-icon"><i class="fab fa-ubuntu text-white"></i></div>
                Điều hành
            </a>

            <a class="nav-link text-white" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" id="KeHoachVanTaiIndex">
                <div class="sb-nav-link-icon"><i class="fas fa-receipt text-white"></i></div>
                Kế hoạch vận tải
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down text-white"></i></div>
            </a>
            <div class="collapse" id="collapseExample2">
                <nav class="sb-sidenav-menu-nested nav">
                    <a id="link" class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiTongHop")">Kế hoạch chung</a>

                    <a class="nav-link" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        Hàng Container
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down text-white"></i></div>
                    </a>
                    <div class="collapse" id="collapseExample3">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiContainerNhapKhau")">Hàng nhập khẩu</a>
                            <a class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiContainerXuatKhau")">Hàng xuất khẩu</a>
                            <a class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiContainerNoiDia")">Hàng nội địa</a>
                        </nav>
                    </div>
                    <a class="nav-link" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                        Hàng rời
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down text-white"></i></div>
                    </a>
                    <div class="collapse" id="collapseExample4">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiHangRoiNhapKhau")">Hàng nhập khẩu</a>
                            <a class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiHangRoiXuatKhau")">Hàng xuất khẩu</a>
                            <a class="nav-link" href="@Url.Action("Index", "KeHoachVanTaiHangRoiNoiDia")">Hàng nội địa</a>
                        </nav>
                    </div>
                </nav>
            </div>

            @*<a class="nav-link text-white" href="@Url.Action("KeHoachVanTaiChiTietSoContainer","Index")">
                    <div class="sb-nav-link-icon"><i class="fab fa-ubuntu text-white"></i></div>
                    Kế hoạch vận tải 2
                </a>*@

            <a class="nav-link collapsed text-white" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                <div class="sb-nav-link-icon"><i class="fas fa-receipt text-white"></i></div>
                Danh mục
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down text-white"></i></div>
            </a>
            <div class="collapse" id="collapseExample1">
                <nav class="sb-sidenav-menu-nested nav">
                    <a id="link" class="nav-link" href="/DanhMuc/KhachHangIndex">Danh mục khách hàng</a>
                    <a id="link" class="nav-link" href="/DanhMuc/HangTauIndex">Danh mục hãng tàu</a>
                    <a id="link" class="nav-link" href="/DanhMuc/CangICDIndex">Danh mục cảng, ICD</a>
                    <a id="link" class="nav-link" href="/DanhMuc/KhoIndex">Danh mục kho</a>
                    <a id="link" class="nav-link" href="/DanhMuc/SaleIndex">Sale</a>
                    <a id="link" class="nav-link" href="/DanhMuc/LoaiContainerIndex">Loại container</a>
                </nav>
            </div>
            <!-- Modal -->


        </div>
    </div>

</nav>

<script>

    document.querySelector("#link").addEventListener('click', () => {
        $('#myModal').modal({
            show: true
        });
    })

    document.querySelector("#donhang").addEventListener('click', () => {

        $('#myModal1').modal({
            show: true
        });
    })

</script>




